.norma{color:#000000; font-family:times; font-size:12pt; text-align:justify; line-height:21pt; text-indent:35pt}
.lista{color:#ffffff; font-family:helvetica,times; font-size:14pt; text-align:justify}
.titulo{color:#000000; font-family:times; font-size:14pt; text-align:center; line-height:21pt}