body{background-color:#000000}
td.perg{background-color:#00ffff}
td.resp{background-color:#ff0000}
label.perg{color:#000000; font-family:arial; font-size:12pt; font-weight:bold; text-align:right}
label.resp{color:#ffffff; font-family:arial; font-size:12pt; font-weight:bold; text-align:right}
input.resu{width:100pt}
input.acao{width:60pt}