body{
background-color:#000000
}
table.etapa0{
width:600px;
border:3pt solid #cccccc
}
td.etapa1{
background-color:#00ffff
}
td.etapa2{
background-color:#ff0000
}
label.entrada{
width:250pt;
color:#000000;
font-family:arial;
font-size:12pt;
text-align:right;
font-weight:bold
}
label.saida{
width:170pt;
color:#ffffff;
font-family:arial;
font-size:12pt;
text-align:right;
font-weight:bold
}
input.entrada{
width:100pt
}
input.saida{
width:150pt
}
input.acao{
width:60pt
}
