label.lista{width:250pt; color:#000000; font-family:arial; font-size:12pt; text-align:right; font-weight:bold}
label.resu{width:170pt; color:#ffffff; font-family:arial; font-size:12pt; text-align:right; font-weight:bold}
input.lista{width:100pt}
input.resu{width:150pt}
input.acao{width:60pt}
